.welcomeMain{
  background: #f9f9f9;
  background-image: url('./yes.gif');
  background-repeat: no-repeat;
  background-size:cover;
  height: 100vh;
}

.typographyBox {
    margin-left: 200px;
    margin-top: 80px;
    align-items: center;
    border: 1px solid black;
    border-radius: 30px;
    padding: 28px;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    text-align: center;
}