$page-background: #f9f9f9;
$drawer-width: 240px;
$active-background: #f4f4f4;
$theme-spacing: 8px;

.page {
    padding-left: $theme-spacing * 3;
    padding-right: $theme-spacing * 3;
    padding-top: $theme-spacing * 3;
    padding-bottom: 0;
    background: $page-background;
    width: 100%;
    min-height: calc(100vh - #{$theme-spacing * 3});
}

.root {
    display: flex;
}

.drawer {
    width: $drawer-width;
}

.drawerPaper {
    width: $drawer-width;
}

.active {
    background: $active-background;
}

.title {
    padding: $theme-spacing * 2;
}
