$page-background: #f9f9f9;
$drawer-width: 240px;
$active-background: #f4f4f4;
$theme-spacing: 8px;

.welcomePage {
    background: $page-background;
    width: 100%;
}

.page {
    background: $page-background;
    width: 100%;
    min-height: calc(100vh - #{$theme-spacing * 3});
}

.root {
    display: flex;
}


// styling for left bar
.drawer {
    width: $drawer-width;
}

.drawerPaper {
    width: $drawer-width;
}

.active {
    background: $active-background;
}

.title {
    padding: $theme-spacing * 2;
}

.buttonBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
}